h1 {
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: violet;
  opacity: 25%;
  border-radius: 90%;
}
th {
  text-align: left;
} 
/*
.user_comments {
  text-align: center;
}*/