you are here 

    <p><br></p>
   <form action ="/create_post" method="POST">
    URL: <input type="text" name="url" >
    <p><br></p>

    <input type="submit" value="Commit!">
    <p><br></p>

    </form>