<h1><%= @user.username %>'s Profile</h1>

<h2>User Posts:</h2>
<% @user_posts.each do |eachpost| %>
<li><%= eachpost.url %></li>
<% end %>


<h2>User Comments:</h2>
<% @user_comments.each do |eachcomment| %>
<li><%= eachcomment.post.url %> | <%= eachcomment.content %></li>
<% end %>

<a href='/'> Home </a> <br> 
<a href='/logout'> Log Out </a>
<!-- 
A page showing all a user's submissions
A page showing all a user's comments
 -->